</div>
</div>


	<body style="background-color: rgb(0, 158, 255);"  id="ground">
			<div class="container vcenter">	
				<div class="row">
					<div class="col-md-12" style="text-align: center;">
						<img src="img/logo-white.svg" style="margin-top: 3em; text-align: center;" width="460px" />
					</div>
				</div>
				<div class="row" style="margin: 3em 0 1em 0; color: white; text-align: center;">
					<div class="col-md-12">
						<h5 style="text-shadow: 1px 1px #3a3737;">High School Edition</h5>
					</div>
				</div>
				<div class="row" style="margin: 3em 0 1em 0">
					<div class="col-md-12">
						<h5 class="curv" style="font-size: 3rem; text-align: center;">Building Respect and Ending Bullying<br /> and Cruelty in Your School</h5>
					</div>
				</div>
				<div class="row">
					<!-- <div class="col-md-6">
						<% unless session[:user] %>
						<a style="float: right;" href="/sign-up" class="btn btn-large" >Sign up</a>
						<% else %>
						<h5 style="float: right; color: white; margin-top: 6px;"><%= @user.name %></h5>
						<% end %>
					</div> -->
					<div class="col-md-12" style="text-align: center;">
						<% if session[:user] %>
						<a onclick="goBack()" class="btn btn-large" >Continue</a>
						<% else %>
						<a href="/sign-in" class="btn btn-large" >Take the Survey</a>
						<% end %>
					</div>
				</div>
				<div class="row" style="margin: 3em 0 3em 0">
					<div class="col-md-12">
						<h5 style="font-size: 1.6em; text-align: center;" class="curv">Safety first – protect yourself and then others!</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" style="text-align: center; margin-bottom: 2em;">
						<img src="img/arngcamo.svg">
					</div>
				</div>
				<%= session[:user] %>
			</div>
	</body>
<script>
	function goBack() {
	window.history.back();
}
</script>
