	</div>
</div>


	<div style="background-color: rgb(0, 158, 255); height: 100%; min-width: 100vw; min-height: 100vh;">
			<div id="soldier">
				<div style="text-align: center;">
					<br /><br />
					<h1 style="color: white; font-weight: 800; line-height: 1.05; letter-spacing: -3px;  font-size: 3.7em; text-align: center;">In the Guard, we’ve made <br />a solemn vow to protect <br />and serve others.</h1>
					
					<h1 style="font-weight: 800; font-size: 4.5em; color: #a21f26; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: white; letter-spacing: -3px;">What about you?</h1>
					<br />
					<img src="/img/arngcamo.svg" width="155px;">
				</div>
			</div>
	</div>	
