<div class="row" style="margin-bottom: 7em;">
	<div class="col-md-9">
		<br />
		<h2>Consequences – People who bully AND people targeted</h2>
		<ul class="question-list">
			<li>Higher levels of depression and anxiety</li>
			<li>Poor academic performance</li>
			<li>More school absences</li>
			<li>Lack of self-respect and self-esteem</li>
			<li>Shame that can hurt people their entire lives</li>
		</ul>
			

		<h2>Consequences – Bystanders and Community Members</h2>
		<ul class="question-list">
			<li>Greater feelings of helplessness</li>
			<li>Decline in positive school/community culture and climate</li>
			<li>Decline in academic performance</li>
		</ul>
		<p><strong>Can you think of other ways bullying affects people?</strong></p>
		<input type="text" class="reg-input" style="width: 100%;">
		<input type="text" class="reg-input" style="width: 100%;">
		
		<br /><br />
		<h2>Normal?</h2>
		<ul class="question-list">
			<li>Are bullying and cruel behaviors “normal”?
				<uL>
					<li>A lot of people get bullied, harass others, or see cruelty happen.</li>
				</ul>
			</li>
			<li>This doesn’t mean that bullying and cruelty have to be accepted as a normal part of life.
				<uL>
					<li>Bullying hurts everyone involved.</li>
					<li>Cruelty is certainly not normal and needs to be stopped.</li>
					<li>Bullying can also be connected to cruelty in relationships.</li>
				</ul>
			</li>
		</ul>

		<h2>So, why do you think so much bullying goes unreported?</h2>
		<input type="text" class="norm-input">
		<input type="text" class="norm-input">
	</div>
	<div class="col-md-3">
		<img src="/img/boy-back.png" style="float: left; width: 80%; margin: 32px 36px 6px 10px;">
	</div>
	
	<div class="col-md-12">
		<br />
		<button class="btn btn-large btn-success">Save this page</button> &nbsp; <button class="btn btn-large btn-info">Edit this page</button> <a href="/question7" class="btn btn-large btn-primary" style="float: right;">Page 7</a>
	</div>
</div> 
	
