		<div class="row">
			<div class="col-md-12">
				<h1 class="page-header">In some schools bullying is viewed as socially unacceptable.</h1>
			</div>

			<div class="col-md-12">
				<h2>Would this make your school feel safer? So, how can we do that?</h2>
				<ul class="question-list">
					<li>Bullying behavior changes if students AND teachers make it clear that it is not acceptable.</li>
					<li>What can you do to make bullying behavior seen as unacceptable and immature? (Examples: not spreading damaging gossip about others, calling it out when you see
others do it) <input type="text" class="norm-input"></li>
					<li>What can you do to make kind behavior more common? <input type="text" class="norm-input"></li>
				</ul>
			
				<h2>Could you have helped?</h2>
				<ul class="question-list">
					<li>What could you have done in Mike’s story? <input type="text" class="norm-input"></li>
					<li>What could you have done in Michelle’s story? <input type="text" class="norm-input"></li>
					
					<p>Does what you just wrote reflect one or more of these values?</p>
				</ul>
				
				
				
				<h2 style="text-align: center;">Loyalty • Duty • Respect • Selfless Service • Honor • Integrity • Personal Courage</li>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">		
				<h2>Think back...</h2>
				<p>to the bullying incident you wrote about on page 5. If you could go back in time...</p>
				<ul class="question-list">
					<li>What would you do differently?</li>
					<li>What would you say?</li>
				</ul>
				<h2>Next steps</h2>
				<h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Schools are partnerships between students, educators, parents, and the community.</h6>
				<h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As a key partner, what can you do?</h6>
			</div>
			<div class="col-md-3">
				<img src="/img/questionmark.svg" width="60%">	
			</div>		
		<div>
		<div class="row" style="margin-bottom: 7em;">
			<div class="col-md-12">
				<br />
				<button class="btn btn-large btn-success">Save this page</button> &nbsp; <button class="btn btn-large btn-info">Edit this page</button> <a href="/question10" class="btn btn-large btn-primary" style="float: right;">Page 10</a>
			</div>
		</div> 
	
