<div class="container">	
	<div class="row" style="margin-top: 2em;">  
		<div class="col">
			<img src="/img/HEAR-logo-black.svg" width="150px;">
		</div>
		<div class="col" style="text-align: center;">
			<h1 style="font-size: 2.3em;">Student Survey Report</h1>
		</div>
		<div class="col">
			<img src="/img/arng-no-ground.svg" class="float-end" width="68px;">
		</div>
	</div>
	<form method="post">
	<div class="row">  
		<div class="col-md-12">



			<h6>About H.E.A.R.</h6>

			<p>H.E.A.R. is an anti-bullying presentation targeted to high school students. It is published by Career Training Concepts, Inc. and sponsored by the Army National Guard. The 50-minute presentation was developed in partnership with subject matter experts at the Harvard Graduate School of Education and the University of Nebraska-Lincoln. Part A of this report summarizes the post-presentation student survey results. Part B is an attendance record by name of the student participants.</p>

			<p>This report provides data intended to guide positive change in your school climate. The following resources will support your efforts to create a bully-free, respectful learning environment.</p>

			<h6>Making Caring Common Project</h6>

			<a href="http://sites.gse.harvard.edu/making-caring-common" target="blank">sites.gse.harvard.edu/making-caring-common ????</a>

			<p>Making Caring Common, a project of Harvard Graduate School of Education, strives to help educators, families and community members raise children who demonstrate respectful behavior and social responsibility. The website provides research-based tools and strategies for building caring and respectful school communities.</p>

			<h6>Empowerment Initiative</h6>

			<a href="http://empowerment.unl.edu" target="blank">empowerment.unl.edu</a>. https://cehs.unl.edu/bullyingprevention

			<p>The Empowerment Initiative seeks to apply knowledge gained through research to improve communities in ways that build healthy relationships and free them from bullying. The website provides information about relevant research projects, and it provides links with information about resiliency, mental health resources, youth violence prevention and building safe schools.</p>

			<h6>H.E.A.R.</h6>

			<a href="https://project-hear.us/resources" target="blank">project-hear.us/resources</a>

			<p>A collection of resources on the HEAR website includes books, films and Internet sites. These resources provide evidence-based information, assessment tools, lessons, best practices and practical tips for preventing and responding to bullying and cyberbullying, as well as information on social and emotional learning to promote a positive school climate.</p>
 		   <br />
		    <br />
			 <br />


			<p><small>* Students had the option to enter their email address (not recorded) and phone number if they felt the National Guard Values discussed in H.E.A.R. were of interest and they wanted more information about the National Guard.</small></p>



		</div>
	</div>
</div>