@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Neucha&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Kalam&family=Shadows+Into+Light&display=swap);


/*font-family: 'Kalam', cursive;
font-family: 'Shadows Into Light', cursive;*/


html,

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', helvetica, sans-serif;
	font-size: 14px;
	line-height: 22px;
}

.container	{
	
}
	
#ground	{
	margin: 0;
	padding: 0;
	background-image: url("../img/cover-group-multiply.svg");
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: center 60px;
}

/*#soldier	{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-image: url("/img/soldier.png"); 
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center top;
}
*/

input	{
	padding: 7px;
}

#arrow	{
	background-image: url("../img/arrow-important.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	margin: 0;
	padding: 0;
}


.infobox {
	/*border: 1px solid rgb(256, 256, 257, 0.4);
   border-left: 5px solid rgb(256, 256, 257, 0.4);
   -webkit-border-radius: 18px;
      -moz-border-radius: 18px;
           border-radius: 18px;
   outline: none;*/
	padding: 24px 30px;
}

.stick	{
	bottom: 0;
}

.curv	{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	/*color: #e1f608;*/
	color: #ffffff;
	text-shadow: 1px 1px #3a3737;
}


.page-ease {
   -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
           transition: all .3s ease-in-out;
}

ul.nav li.a:hover 	{
	color: #ffffff;
}

div.out a	{
	color: #aac7d1;
}

div.out a:hover	{
	color: #fff;
}


/*.navbar-dark .brand,
.navbar-dark .nav > li > a {
  color: #c0c0c0;
  margin: 0px;
}

.brand:hover,
.nav > li > a:hover,
.brand:focus,
.nav > li > a:focus,
.brand:active,
.nav > li > a:active {
  color: red;
}

.navbar-dark .brand {
  color: #ffffff;
}

.navbar-dark .navbar-text {
}

.navbar-dark .nav > li > a:focus,
.navbar-dark .nav > li > a:hover,
.navbar-dark .nav > li > a:active {
  color: #ffffff;
  background-color: transparent;
}

.navbar-dark .nav .active > a,
.navbar-dark .nav .active > a:hover,
.navbar-dark .nav .active > a:focus,
.navbar-dark .nav .active > a:active {
  color: #ffffff;
  background-color: transparent;
}

.navbar-dark .navbar-link {
}

.navbar-dark .navbar-link:hover,
.navbar-dark .navbar-link:focus,
.navbar-dark .navbar-link:active {
  color: red;
}

li.dorpdown-item:active	{
	color: red;
}

a.dropdown-toggle	{
	color: #fff;
}

a.dropdown-toggle:hover	{
	color: #dedddf;
}*/



p, h2, h3, h4, h5, h6 	{
	font-family: 'Open Sans', helvetica, sans-serif;
	margin-bottom: 12px;
}

h1	{
	font-family: 'Open Sans', sans-serif;
	margin: 0px 0px 18px 0px;
	font-size: 2.7em;
	line-height: 1.2em;
	font-weight: 700;
	letter-spacing: -1px;
}

h2	{
	font-family: 'Open Sans', sans-serif;
	margin: 0px 0px 12px 0px;
	font-size: 1.4em;
	line-height: 1.2em;
	font-weight: 700;
	letter-spacing: -1px;
}


.page-header	{
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: -1px;
	color: #017abc;
	margin: 24px 0 24px 0;
	padding-bottom: 14px;
	line-height: 0.8em;
	border-bottom: 1px solid #6c99ea;
}

.textfield	{
	font-family: 'Open Sans', helvetica, sans-serif;
	border: 1px solid #6c99ea;
}

h4	{
	font-family: 'Open Sans', helvetica, sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #7f8287;
}
h5	{
	font-weight: 400;
	font-size: 1.4em;
	padding: 0;
	margin: 0px 0 14px 0;
}
h6	{
	font-weight: 500;
	font-size: 1.5em;
	line-height: 1.2em;
	padding: 0 0 10px 0;
	margin: 0;
	letter-spacing: -1px;
}
h3	{
	font-size: 1.8em;
	font-family: 'Open Sans', helvetica, sans-serif;
	font-weight: 400;
	line-height: 1.2em;
	margin: 0 0 9px 0;
	padding: 0;
}

ul.question-list	{
	margin: 20px 0 20px 20px;
}

ul.question-list li	{
	margin: 12px 0;
	
}

/*.list-input	{
	font-family: 'Kalam', cursive;
	font-size: 1.4em;
	color: #166e57;
	width: 80%;
	margin-top: 5px;
	border: 1px solid #8aa0a8;
	border-bottom: 2px solid #8aa0a8;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}
*/
.list-input:focus,
.short-input:focus,
.norm-input:focus,
.reg-input:focus,
.input-text:focus,
textarea:focus	{
    border-color: #6c99ea;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(0, 244, 140, 0.25);
}

.help-text 	{
	font-size: 0.75rem;
	font-weight: 400;
}
  
  
/*.short-input	{
	font-family: 'Kalam', cursive;
	font-size: 1.4em;
	color: #3f856e;
	width: 120px;
	margin-top: 5px;
	border: 1px solid #8aa0a8;
	border-bottom: 2px solid #8aa0a8;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}

.norm-input	{
	font-size: 1.4em;
	color: #3f856e;
	width: 100%;
	margin-top: 5px;
	border: 1px solid #8aa0a8;
	border-bottom: 2px solid #8aa0a8;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}

.reg-input	{
	font-size: 1.4em;
	color: #3f856e;
	margin-top: 5px;
	border: 1px solid #b6e5e1;
	border-bottom: 2px solid #1abd9c;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}
*/
.input-text	{
	font-size: 1.4em;
	color: #3f856e;
	margin-top: 5px;
	border: 1px solid #6c99ea;
	border-bottom: 2px solid #94a4c6;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}

.input-box	{
   border: 1px solid #6c99ea;
   color: #166e57;
   -webkit-border-radius: 22px;
      -moz-border-radius: 22px;
           border-radius: 22px;
}

/*textarea{
	border: 1px solid #6c99ea;
	line-height: 1.7em;
	padding: 0 10px;
	color: #166e57;
}
*/
input, textarea, select	{
	border: 1px solid #92bd97 !important;
	outline: 0px solid #92bd97 !important;
   -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
           outline-radius: 6px;
}


p.answ	{
	font-family: 'Kalam', cursive;
	font-size: 1.4em;
	color: #3f856e;
	margin-top: 8px;
	padding-Bottom: 4px;
	border-bottom: 1px solid #5fc7a4;
}


input[type=range] {
  height: 76px;
  -webkit-appearance: none;
  margin: 20px 0 0 0;
  width: 100%;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 80%;
  text-align: center;
  height: 120px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: transparent;
  border-radius: 0px;
  border: none;
  top: 0;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 74px;
  width: 7px;
  border-radius: 7px;
  background: black;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 3%;
}

blockquote	{
	margin: 9px 0px 30px 0;
	padding: 9px 9px 9px 18px;
	border-left: 5px solid #1abd9c;
}
blockquote.box	{
	margin: 9px 0px 30px 0;
	padding: 1rem 1rem 1rem 2rem;
	border: 1px solid #1abd9c;
	border-left: 5px solid #1abd9c;
}

.under-link a	{
	color: #0088cc;
	font-weight: 600;
	text-decoration: none;
	padding-bottom: 1px;
	margin-bottom: -2px;
	border: none;
	border-bottom: 1px dotted #007dbc;
	line-height: 1.8em;
    -webkit-transition: all 0.15s ease-in-out;
       -moz-transition: all 0.15s ease-in-out;
         -o-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
}

.under-link a:hover	{
	text-decoration: none;
	color: black;
	border-bottom: 1px solid black;
}

.under-link a:active	{
	text-decoration: none;
	color: gray;
	border-bottom: 1px solid gray;
}


footer	{
	bottom: 0;
	width: 100%;
	position: fixed;
	background-color: rgb(0, 0, 0);
	color: white;
	font-size: 0.9em;
	text-align: center;
	padding: 6px 0 0 0;
	margin: 0;
	border: none;
	line-height: 1.2em;
}

.link-row:hover {
	cursor: pointer;
}

.lead	{
	color: black;
	font-weight: 300;
	font-size: 1.4em;
	line-height: 1.4em;
	margin-bottom: 14px;
}

hr	{
	margin: 9px 0px;
	border-top: none;
	border-bottom: 1px solid #2b2928;
}

.clear {
	clear: all;
}

dl dd	{
	margin-bottom: 9px;
}

.table.w th,
.table.w td	{
  border-top: 1px solid #ffffff;
}

#date_due_month, #date_due_day, #date_due_year,
#invoice_date_month, #invoice_date_day, #invoice_date_year,
#date_paid_month, #date_paid_day, #date_paid_year	{
	width: 90px;
}

.well	{
	margin: 32px 0;
	padding: 18px 18px 6px 24px;
}

.sign	{
	padding: 32px 24px 22px 36px;
}

label	{
	font-weight: 500;
	margin: 9px 0 5px 0;
}

p.question	{
	font-size: 1.3em;
	font-weight: 600;
	font-style: italic;
	margin-top: 24px;
}

p.answer	{
	margin-left: 32px;
}

.padleft	{
	padding-left: 18px;
	margin-bottom: 14px;
}

.padright	{
	padding-right: 32px;
	margin-bottom: 14px;
}

.green	{
	color: #1abd9c;
}



.pic-border 	{
	border: 1px solid gray;
 -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
         box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.semi-bold	{
	font-weight: 600;
}

.half-space p	{
	margin-bottom: 32px;
}

.horz	{
	float: left;
	text-align: right;
	width: 180px;
	margin-right: 12px;
	margin-top: 4px;
}

select.month {
	width: 70px;
	margin-right: 3px;
	margin-bottom: 0;
}
select.day {
	width: 70px;
	margin-right: 3px;
	margin-bottom: 0;
}
select.year {
	width: 90px;
	margin-right: 3px;
	margin-bottom: 0;
}


.flash	{
	color: #dc0042;
	font-weight: 600;
	font-size: 0.85em;
}

.sign-in {
	padding: 12px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

/*.alert	{
	position: absolute;
	top: 10%;
	left: 10%;
	color: white;
	background-color: #336df0;
	padding: 12px;
   -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
           border-radius: 6px;
}
*/
.rotated	{
	background-color: white;
   -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
           box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
	transform: rotate(-4deg);
	-ms-transform: rotate(-4deg); /* IE 9 */
	-webkit-transform: rotate(-4deg); /* Safari and Chrome */
}

.password-show	{
	color: #a72600;
	font-weight: 400;
	font-size: 1.4em;
}

.short	{
	line-height: 1.9em;
	margin: 0;
	padding: 0 0 9px 0;
}

.help-inline	{
	font-size: .85em;
	color: gray;
}

.resume-view	{
	float: left;
	clear: both;
	text-align: right;
	width: 200px;
	margin-right: 18px;
	line-height: 3em;
	margin-top: -7px;
}

.trans1	{
	opacity: 0.1;
}

.trans4	{
	opacity: 0.4;
}

div#alert {
	display: none;
	position: absolute;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	line-height: 2em;
	display: block;
	background-color: #ffd017;
/*	background-color: #336df0;
*/	opacity: 0.8;
	padding: 3px 3px;
	margin: 0 auto 0 auto;
	text-align: center;
	color: #000;
	font-weight: 800;
	z-index: 999;
	animation: fadeOut 2s forwards;
	animation-delay: 5s;
}

@keyframes fadeOut {
    from {opacity: 0.8;}
    to {opacity: 0;}
}

.fadeOut {
   animation-name: fadeOut;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #1abd9c;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

.nojavascript {
	display: none;
	position: fixed;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 0.8em;
	display: block;
	background-color: #000000;
	padding: 7px 0;
	margin: 48px auto 0 auto;
	text-align: center;
	color: #ffd218;
	font-weight: 300;
	z-index: 1444;
}

