<style>
	ul li	{
		line-height: 1.4em;
		padding-bottom: 6px;
		margin-left: 9px;
	}
	small	{
		color: #a8a8a8;
	}
</style>

<div class="container">	
	<h1 class="page-header">Download Materials</h1>
	<div class="row">  
		<div class="col-md-10" style="margin-bottom: 6em">
			
					<h6>PowerPoint for <span style="font-weight: 600;">H&bull;E&bull;A&bull;R</h6>
					
					<p style="margin-bottom:1em;">RRNCOs presenting <strong>HEAR <span style="color: red;">version 12</span></strong> must download this PowerPoint file: &nbsp; <a href="https://projecthear.s3.us-east-2.amazonaws.com/HEAR+Student+Slide+Presentation+-+vers+12.pptx" class="btn btn-primary" style="margin-bottom: 0em;">Download</a></p>
					
					<p style="margin-bottom:1em;">RRNCOs presenting <strong>HEAR <span style="color: red;">version 11</span></strong> must download this PowerPoint file: &nbsp; <a href="https://projecthear.s3.us-east-2.amazonaws.com/HEAR+Student+Slide+Presentation+-+vers+11.pptx" class="btn btn-primary" style="margin-bottom: 0em;">Download</a></p>
					
					<hr style="margin: 20px 0; border-bottom: 2px solid #034fc8;" />
					
					<h6>1 - HEAR Instructor Guide</h6>
					
					<p style="margin-bottom:1em;">Download this PDF file for the <strong>HEAR <span style="color: red;">version 12</span></strong> - Instructor Guide: &nbsp; <a href="https://projecthear.s3.us-east-2.amazonaws.com/HEAR+-+vers+12+-+Instructor+Guide.pdf" class="btn btn-primary">Download</a></p> 
					
					<p style="margin-bottom:1em;">Download this PDF file for the <strong>HEAR <span style="color: red;">version 11</span></strong> - Instructor Guide: &nbsp; <a href="https://projecthear.s3.us-east-2.amazonaws.com/Instructor+Notes+-+HEAR+Student+Slide+Presentation+-+vers+11.pdf" class="btn btn-primary">Download</a></p>
					
					<p style="margin-bottom:1em;">Download this PDF file for additional tips to help present <strong>HEAR <span style="color: red;">all versions</span></strong>: &nbsp; <a href="https://projecthear.s3.us-east-2.amazonaws.com/For+RRNCOs_HEAR+Guidance+-+all+versions.pdf" class="btn btn-primary">Download</a></p>
					
					<hr style="margin: 20px 0; border-bottom: 2px solid #034fc8;" />

					<h6>2 - Promoting HEAR <small>(zipped folder)</small></h6>
					<p>Download this zipped folder to access marketing files for HEAR: &nbsp; <a href="https://projecthear.s3.us-east-2.amazonaws.com/2-Promoting+HEAR.zip" class="btn btn-primary">Download</a></p>
					<ul>
						<li><strong>Banners for HEAR:</strong> (folder) contains artwork (PDFs) of 8 differently sized banners that read “I RESPECT OTHERS”</li>
						<li><strong>Facebook Templates - HEAR high school:</strong> (folder) 20 different JPG graphics with bullying prevention messages</li>
						<li><strong>Twitter Templates - HEAR high school:</strong> (folder) 28 different JPG graphics with bullying prevention messages</li>
						<li><strong>HEAR Educator Flyer:</strong> (PDF) 2-page color flyer with ARNG branding</li>
						<li><strong>HEAR Poster:</strong> (PDF) marketing poster with ARNG branding</li>
						<li><strong>HEAR Overview Slides for Educators:</strong> (PowerPoint) slides for marketing presentation</li>
						<li><strong>Press Release HEAR:</strong> (Word) template for press release to media companies</li>
						<li><strong>Sample HEAR Letter to Educators from RRNCO:</strong> (Word) template for marketing letter to educators</li>
					</ul>

					<hr style="margin: 20px 0; border-bottom: 2px solid #034fc8;" />
					
					<h6>3 - Additional Resources <small>(zipped folder)</small></h6>
					<p>Download this zipped folder to access two bullying prevention resources written for adults: &nbsp; <a href="https://projecthear.s3.us-east-2.amazonaws.com/3-Additional+Resources.zip" class="btn btn-primary">Download</a></p>

					<ul>
						<li><strong>HEAR Educator guide - email version:</strong> (PDF) 4-page resource may be distributed to educators</li>
						<li><strong>HEAR Parent Guide - email ves:</strong> (PDF) 4-page resource may be distributed to parents</li>
					</ul>
			
		</div>
		
		<div class="col-md-2" style="text-align: center; margin-bottom: 9em;">
			
			<p><img src="/img/arng-no-ground.svg" width="90px"/></p>
		</div>
	</div>
</div> <!-- /container -->

