<style>
	ul li	{
		line-height: 1.4em;
		padding-bottom: 6px;
		margin-left: 9px;
	}
	small	{
		color: #a8a8a8;
	}
</style>

<div class="container">	
	<h1 class="page-header">Download Materials</h1>
	<div class="row">  
		<div class="col-md-10">
			
					<h6>PowerPoint for <span style="font-weight: 600;">H&bull;E&bull;A&bull;R</h6>
					<p style="margin-bottom:1em;">RRNCOs presenting <strong>HEAR</strong> must download this PowerPoint file that corresponds with the <strong>Version 11 of HEAR.</strong></p>
					<a href="https://projecthear.s3.us-east-2.amazonaws.com/HEAR+Student+Slide+Presentation+-+vers+11.pptx" class="btn btn-primary" style="margin-bottom: 2em;">Download</a>
					
					<hr />
					
					<h6>1 - HEAR Instructor Guides <small>(zipped folder)</small></h6>
					<p>Download this zipped folder to access 2 separate instructor guides:

					<ul>
						<li><strong>For RRNCOs_HEAR Guidance - vers 11:</strong> (PDF) info to help you present HEAR and suggests responses to student reactions</li>
					 	<li><strong>Instructor Notes - HEAR Student Slide Presentation - vers 11:</strong> (PDF) instructor notes / sample script for each presentation slide</li>
					</ul>
						</p>
					<a href="https://projecthear.s3.us-east-2.amazonaws.com/1-HEAR+Instructor+Guides.zip" class="btn btn-primary" style="margin-bottom: 2em;">Download</a>
					
					<hr />

					<h6>2 - Promoting HEAR <small>(zipped folder)</small></h6>
					<p>Download this zipped folder to access marketing files for HEAR:</p>
					<ul>
						<li><strong>Banners for HEAR:</strong> (folder) contains artwork (PDFs) of 8 differently sized banners that read “I RESPECT OTHERS”</li>
						<li><strong>Facebook Templates - HEAR high school:</strong> (folder) 20 different JPG graphics with bullying prevention messages</li>
						<li><strong>Twitter Templates - HEAR high school:</strong> (folder) 28 different JPG graphics with bullying prevention messages</li>
						<li><strong>HEAR Educator Flyer - v11:</strong> (PDF) 2-page color flyer with ARNG branding</li>
						<li><strong>HEAR Poster v11:</strong> (PDF) marketing poster with ARNG branding</li>
						<li><strong>HEAR v11 Overview Slides for Educators 2019:</strong> (PowerPoint) slides for marketing presentation</li>
						<li><strong>Press Release HEAR:</strong> (Word) template for press release to media companies</li>
						<li><strong>Sample HEAR Letter to Educators from RRNCO:</strong> (Word) template for marketing letter to educators</li>
					</ul>

					<a href="https://projecthear.s3.us-east-2.amazonaws.com/2-Promoting+HEAR.zip" class="btn btn-primary" style="margin-bottom: 2em;">Download</a>
					
					<hr />
					
					<h6>3 - Additional Resources <small>(zipped folder)</small></h6>
					<p>Download this zipped folder to access two bullying prevention resources written for adults:</p>

					<ul>
						<li><strong>HEAR Educator guide v11 - email version:</strong> (PDF) 4-page resource may be distributed to educators</li>
						<li><strong>HEAR Parent Guide - email ves:</strong> (PDF) 4-page resource may be distributed to parents</li>
					</ul>

					<a href="https://projecthear.s3.us-east-2.amazonaws.com/3-Additional+Resources.zip" class="btn btn-primary" style="margin-bottom: 3em;">Download</a>
					

			<hr style="margin: 20px 0; border-top-color: #1abc9c;" />
		</div>
		
		<div class="col-md-2" style="text-align: center; margin-bottom: 9em;">
			<p><strong>Sponsored by:</strong></p>
			<p><img src="/img/arng-no-ground.svg" width="90px"/></p>
		</div>
	</div>
</div> <!-- /container -->

