<div class="container">
	<div style="width: 400px; margin: 3em auto;">
		<form class="form-signin" method="post">
			<h6 class="font-weight-normal" style="text-align: center; font-size: 2em;">Reset Your Password</h6>

			<label for="inputEmail" class="">New password</label>
			<input type="password" class="input-xlarge" id="password" name="password" placeholder="Type a temporary password here." autocomplete="off">
					<br />
					Type a temporary password. Please update <br />
					with a permanent password on your profile edit page. <br />
					Don't forget to to <strong>save</strong> your account.
			<br />

			<input type="submit" class="btn btn-success" id="signin-btn" value="Sign in" />

		</form>
	</div>
</div>