<style>
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>

<div class="container">
	<div style="width: 400px; margin: 3em auto;">
		<form class="form-signin" method="post">
			<h6 class="font-weight-normal" style="text-align: center; font-size: 2em;">Recruiter Sign in</h6>
			<label for="inputEmail" class="">Email</label>
			<input type="email" name="email" id="email" class="form-control" style="padding: 12px;" value="<%= params[:email] %>" autocomplete="off">
  
			<label for="inputPassword" class="" >Password</label>
			<input type="password" name="password" id="password" class="form-control" style="padding: 12px; margin-bottom: 1em;" value="<%= params[:password] %>" autocomplete="off">
  
			<button class="btn btn-success" type="submit">Sign in</button>
			<button href="/" class="btn btn-secondary float-end">Cancel</button>
			
			<p style="Text-align: center; line-height: 1.2em;"><small><strong>Forget your password?</strong> <br />Fill in your account email address and we will email you a link to reset your password.<br /><a href="#" id="reset-password" onclick="instrFunction()" class="btn btn-mini" style="margin-top: 12px;">Reset my password</a></small></p>
  
		</form>
	</div>
</div>

<script>
function instrFunction() {
  alert("Password reset instructions will be sent to your inbox. This may a minute after you close the message.");
}
</script>



<script language="JavaScript" type="text/javascript">
	(function() {
		$(window).ready(function() {
			return $('a#reset-password').click(function() {
				return $('a#reset-password').attr('href', "/recruiter/reset-password/" + ($('input#email').val()));
			});
		});

	}).call(this);
</script>

<script language="JavaScript" type="text/javascript">
	function createCookie(name,value,days) {
		if (days) {
			var date = new Date();
			date.setTime(date.getTime()+(days*24*60*60*1000));
			var expires = "; expires="+date.toGMTString();
		}
		else var expires = "";
		document.cookie = name+"="+value+expires+"; path=/";
	}

	function readCookie(name) {
		var nameEQ = name + "=";
		var ca = document.cookie.split(';');
		for(var i=0;i < ca.length;i++) {
			var c = ca[i];
			while (c.charAt(0)==' ') c = c.substring(1,c.length);
			if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
		}
		return null;
	}

	function eraseCookie(name) {
		createCookie(name,"",-1);
	}
	
</script>