<div class="container" style="margin-top: 2em; margin-bottom: 5em;">	
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header"style="line-height: 1.2em;">Thank you for participating in the HEAR Student Survey!</h1>
		<div class="row">
			<div class="col-md-6">	
			<p>The data from this survey will be provided to your school in a summary report that will help your educators better understand your school’s climate with regards to bullying behavior.</p>
			<p>HEAR is provided to schools across the country by the National Guard. <a href="https://project-hear.us/national-guard/" style="font-weight: 500;" target="_blank">Learn more</a> about how the National Guard serves both your local community and our country.</p>
			<br /><hr /><br />
			<a href="https://project-hear.us" target="_blank"><img src="/img/HEAR-logo-black.svg" width="180"></a>
			
			<a href="https://nationalguard.com" target="_blank" style="margin-left: 3em;"><img src="/img/arng-no-ground.svg" width="90"></a>
			
			
			
		</div>
			<div class="col-md-6" style="text-align: center;">	
				<img src="/img/all-characters.svg" width="90%">
			</div>
			
		</div>	
	</div>
</div>    <!-------- /container -------->



		