		<div class="row">
			<div class="col-md-12">
				<h1 class="page-header">What can you do about Bullying and Cruelty?</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<h2>Some people just watch. Upstanders help. How can you be an upstander?</h2>
				<p>Always react in a safe way when you witness bullying or cruelty.</p>
				<ul class="question-list">
					<li>Don’t join in. Don’t just watch. Act.</li>
					<li>If you feel safe, tell the person bullying that this is not okay (try asking a friend to stand with you in advance).</li>
					<li>Report it to an adult you respect.</li>
					<li>Comfort the person being bullied by letting them know you care.</li>
				</ul>
			</div>
			<div class="col-md-3">
				<img src="/img/phone-girl.png" style="width: 100%;">
			</div>

			<div class="col-md-12">
				<h2>Strategies for preventing and responding to cyberbullying:</h2>
				<ul class="question-list">
					<li>Think before you post anything that can hurt your reputation.</li>
					<li>Set up privacy controls and protect your passwords. Be careful who has access to your digital world.</li>
					<li>Treat others the way you want to be treated online.</li>
					<li>Talk to a trusted adult if you witness or are the target of cyberbullying. People can’t help you if they don’t know what is going on. Save the evidence and show it to an adult. Print it out or capture a screen shot.</li>
					<li>Don’t respond to a negative post or text. (That’s what the bully wants you to do!)</li>
					<li>Block the person cyberbullying. Mobile phones allow you to block numbers. Your cell phone provider or social media sites can also help if you report it.</li>
					<li>Don’t spread hurtful messages or posts.</li>
				</ul>
				<h2>Become an upstander and change expectations.</h2>
				<ul class="question-list">
					<li>If you realize you sometimes bully, you can change your behavior.</li>
					<li>Be a positive role model - set an example of standing up for others.</li>
					<li>Be an “activist” and strengthen your school and community. Find ways to improve how people treat each other.</li>
					<li>Reach out to include those who are regularly excluded from social situations. You take the first step.</li>
				</ul>
			</div>
		<div>
		<div class="row" style="margin-bottom: 7em;">
			<div class="col-md-12">
				<br />
				<button class="btn btn-large btn-success">Save this page</button> &nbsp; <button class="btn btn-large btn-info">Edit this page</button> <a href="/questions/question9" class="btn btn-large btn-primary" style="float: right;">Page 9</a>
			</div>
		</div> 
	
