
		<div class="row">
			<div class="col-md-12">
				<br />
				<h2>Mike</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<img src="/img/mike.png" style="float: right; width: 25%;">
				<p>At the beginning of the school year, Mike moved into a new school from out of state. Although he was nervous about coming to a new school, he quickly made some new friends and discovered that he really enjoyed some of his classes, especially history. As the weeks went on, however, some guys in his classes started to tease him because he didn’t wear popular brands of clothes like the other kids in school. One day while running laps in gym class, Mike was teased because he ran slower than the other guys. One guy, Brandon, told Mike in front of everyone that he “looked like a total ______.” When this happened, several students laughed, and a few joined in calling Mike names. The next week in gym class, Brandon waited until Mike was not looking in his direction and threw a basketball at the back of Mike’s head. When this happened, Mike looked hurt and screamed loudly at Brandon to “cut it out.” The whole gym class pointed and laughed at him. Over the next few weeks, even more students made rude comments about the way Mike dressed and talked.</p>
				<p>Mike told his parents that he hated his new school and didn’t want to go there anymore. Even though they asked him repeatedly to tell them what was making him upset, Mike didn’t tell his parents the truth about what was going on in school. His parents grew worried, especially as Mike’s grades started to drop. When he was at school, Mike tried to avoid Brandon and the rest of the guys as much as possible and found excuses to skip gym class. Mike found that he no longer wanted to be in any of his classes, even history. His friends from the beginning of the year wanted to help Mike, but they also worried that if they did, Brandon might start picking on them as well.</p>
				<ul class="question-list">
					<li><strong>Underline specific examples of bullying behavior in Mike’s story.</strong></li>
					<li><strong>Circle consequences of the bullying behavior.</strong></li>
				</ul>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<br />
				<h2>Michelle</h2>
			</div>
		</div>		
		<div class="row">
			<div class="col-md-12" style="margin-bottom: 7em;">
				<img src="/img/michelle.png" style="float: right; width: 35%;">
				<p>Michelle had been friends with the same group of girls since elementary school. In 10th grade, Michelle’s friend, Erica, developed a crush on a popular senior named Craig and they went on a date. The next day, Michelle heard Craig bragging and lying to a group of his friends about what actually happened on their date. Michelle told Erica what she’d heard Craig say, and told Erica that she thought she should stay away from Craig. Erica told Michelle that she “just didn’t get high school relationships” and told her to butt out. A few days later, Michelle learned that Erica told Craig what Michelle had said about staying away from him.</p>
				<p>After that, Craig and his friends would not stop harassing Michelle. They called her “______” and “_______” every time she passed them in the hall, and they told her that no guy in school would ever want to date her. Even worse, Erica and the rest of Michelle’s old friends started laughing at Michelle as well. Craig and his friends continued to harass Michelle for months. One week, Michelle received cruel emails, text messages, and comments on social media. She changed her email address and begged her mom for a new cell phone number.</p>
				<p>Michelle’s teachers tried to stop the name calling when they saw it, but most of the time they did not hear what was going on. Her mom thought that the issue was just a little disagreement between friends and encouraged her and Erica to work it out. Michelle felt like she could no longer confide in her friends and became depressed and withdrawn.</p>
				<ul class="question-list">
					<li><strong>Underline specific examples of bullying behavior in Michelle’s story.</strong></li>
					<li><strong>Circle consequences of the bullying behavior.</strong></li>
				</ul>
				
				<h6>Did you notice Michelle’s encounters with cyberbullying? Imagine how this made her feel!</h6>

				<br />
				<button class="btn btn-large btn-success">Save this page</button> &nbsp; <button class="btn btn-large btn-info">Edit this page</button> <a href="/questions/question6" class="btn btn-large btn-primary" style="float: right;">Page 6</a>
			</div>
		</div> 
	



