<div class="row" style="margin-bottom: 7em;">
	<div class="col-md-9">
		<br />
		<h2>Consequences – People who bully AND people targeted</h2>
		<ul class="question-list">
			<li>Higher levels of depression and anxiety</li>
			<li>Poor academic performance</li>
			<li>More school absences</li>
			<li>Lack of self-respect and self-esteem</li>
			<li>Shame that can hurt people their entire lives</li>
		</ul>
			

		<h2>Consequences – Bystanders and Community Members</h2>
		<ul class="question-list">
			<li>Greater feelings of helplessness</li>
			<li>Decline in positive school/community culture and climate</li>
			<li>Decline in academic performance</li>
		</ul>
		<p><strong>Can you think of other ways bullying affects people?</strong></p>
		<textarea type="text" rows="2" class="norm-input"></textarea>
		
		<br /><br />
		<h2>Normal?</h2>
		<ul class="question-list">
			<li>Are bullying and cruel behaviors “normal”?
				<uL>
					<li>A lot of people get bullied, harass others, or see cruelty happen.</li>
				</ul>
			</li>
			<li>This doesn’t mean that bullying and cruelty have to be accepted as a normal part of life.
				<uL>
					<li>Bullying hurts everyone involved.</li>
					<li>Cruelty is certainly not normal and needs to be stopped.</li>
					<li>Bullying can also be connected to cruelty in relationships.</li>
				</ul>
			</li>
		</ul>

		<h2>So, why do you think so much bullying goes unreported?</h2>
		<textarea type="text" rows="2" class="norm-input"></textarea>
		
	</div>
	<div class="col-md-3">
		<img src="/img/boy-back.png" style="float: left; width: 80%; margin: 32px 36px 6px 10px;">
	</div>
	
	<div class="col-md-12">
		<br />
						<button class="btn btn-success">Save this page</button> &nbsp; <button class="btn btn-info">Edit this page</button> <a href="/questions/question7" class="btn btn-primary" style="float: right;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
		  <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
		  <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
		</svg> Next</a>
	</div>
</div> 
	
