
		<div class="row">
			<div class="col-md-12">
				<p class="page-header">Why might people bully or be cruel to others?</p>
			</div>
		</div>
		<div class="row" style="margin-bottom: 1em">
			<div class="col-md-8">
				<h2>What do you think?</h2>
				<Textarea type="text" id="fname" name="fname" rows="7" class="norm-input"></textarea>
				<br />
				<br />
				<h2>Reasons why people bully:</h2>
				<Textarea type="text" id="fname" name="fname" rows="7" class="norm-input"></textarea>
			</div>
			<div class="col-md-4">
				<img src="/img/puppet.png" width="100%">
			</div>
		</div>
		<div class="row" style="margin-bottom: 7em">
			<div class="col-md-12">	
				<p style="font-size: 2em; font-weight: 800; text-align: center; color: #a21f26; line-height: 1.3em; margin: 1em 0;">Bullying can look different in different places and at different ages!</p>
				
				<ul class="question-list">
					<li>Many types of people can bully or be bullied at different points in life.</li>
					<li>Bullying and cruelty may look different at different ages.</li>
					<li>Bullying and cruelty can be part of any relationship (romantic, friendship, classmates, work, etc.).</li>
				</ul>
				
				<br />
								<button class="btn btn-success">Save this page</button> &nbsp; <button class="btn btn-info">Edit this page</button> <a href="/questions/question5" class="btn btn-primary" style="float: right;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
				  <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
				  <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
				</svg> Next</a>
			</div>
		</div> 
	
