		<div class="row">
			<div class="col-md-12">
				<h1 class="page-header">Power</h1>
		<div class="row">
			<div class="col-md-12">
				
				<p>Consider the values we’ve been discussing in the context of power. It’s not right for one person to exert power, to try to control, or force someone into doing something he or she doesn’t want to do. In fact, depending on the circumstances, it could not only be unethical but actually illegal. Example: taking advantage of a person who is intoxicated or drugged – not only is this completely inappropriate, it is illegal. The results can be terrible and life changing for everyone!</p>
			
				<h2>Relationships – family, friends, maybe a girlfriend or boyfriend...</h2>
				<ul class="question-list">
					<li>Relationships work best when people work together – not when pushing or pulling against each other.</li>
					<li>Too often, even in romantic relationships, people can get pressured into something they don’t want to do.</li>
				</ul>
				<p>In recent CDC studies:</p>
				<ul class="question-list">
					<li>20.9% of female students and 10.4% of male students reported experiencing some form of Teen Dating Violence within the past 12 months.</li>
					<li>48% of students surveyed experienced some form of sexual harassment. 87% of them said the harassment had a negative effect on them and 32% said they didn’t want to go to school because of it.</li>
				</ul>
				<p>Labeling people – as “good” or “bad” or trying to control who your friends hang out with – these actions are inconsistent with a life built around positive character attributes. None of these negative actions are courageous or honorable.</p>
				
				<h2>The way to show courage and honor is by standing up for others and treating everyone with respect.</h2>
				<h2>Consider people who are different from you.</h2>
				
				<ul class="question-list">
					<li>Do you think it is okay to make degrading comments to others because they are different from you in terms of religion, race, culture, sexual orientation, gender identity, or body type?</li>
				You’re so <input type="text" class="short-input"> . You’re a <input type="text" class="short-input"> . You guys are all <input type="text" class="short-input"> .
					<li>Everyone has a right to be free from harassment, free from degrading remarks – EVERYONE!</li>
				<br />
				<h2 style="text-align: center;">Harassing, degrading, or bullying violates the core values we discussed earlier and the principles this nation was founded upon.</h2>
				
				

			</div>
		<div>
		<div class="row" style="margin-bottom: 7em;">
			<div class="col-md-12">
				<br />
				<button class="btn btn-large btn-success">Save this page</button> &nbsp; <button class="btn btn-large btn-info">Edit this page</button> <a href="/questions/question8" class="btn btn-large btn-primary" style="float: right;">Page 8</a>
			</div>
		</div> 
	
