
		<div class="row">
			<div class="col-md-12">
				<p class="page-header">Why might people bully or be cruel to others?</p>
			</div>
		</div>
		<div class="row" style="margin-bottom: 1em">
			<div class="col-md-5">
				<h2>What do you think?</h2>
				<Textarea type="text" id="fname" name="fname" rows="8" class="norm-input"></textarea>
				
			</div>
			<div class="col-md-5">
				<h2>Reasons why people bully:</h2>
				<Textarea type="text" id="fname" name="fname" rows="8" class="norm-input"></textarea>
			</div>
			<div class="col-md-2">
				<img src="/img/puppet.png" width="100%">
			</div>
		</div>
		<div class="row" style="margin-bottom: 7em">
			<div class="col-md-12">	
				<p style="font-size: 2em; font-weight: 800; text-align: center; color: #a21f26; line-height: 1.3em; margin: 1em 0;">Bullying can look different in different places and at different ages!</p>
				
				<ul class="question-list">
					<li>Many types of people can bully or be bullied at different points in life.</li>
					<li>Bullying and cruelty may look different at different ages.</li>
					<li>Bullying and cruelty can be part of any relationship (romantic, friendship, classmates, work, etc.).</li>
				</ul>
				
				<br />
				<button class="btn btn-large btn-success">Save this page</button> &nbsp; <button class="btn btn-large btn-info">Edit this page</button> <a href="/questions/question5" class="btn btn-large btn-primary" style="float: right;">Page 5</a>
			</div>
		</div> 
	
