	
		<div class="row">
			<div class="col-md-10">
				<p class="page-header">The attributes we just discussed are the Army National Guard Core Values.</p>
			</div>
			<div class="col-md-2">
				<img src="../img/arng_logo.svg" style="width: 60%; margin-top: 2em;" />
			</div>
		</div>
		<div class="row" style="margin-bottom: 2em">
			<div class="col-md-12">
				<h2>Here’s what they mean.</h2>
				<ul class="question-list">
					<li><strong>Loyalty</strong> – Be faithful and responsible, not just to your small group of friends, but to all those you are connected to through your school or community.</li>
					<li><strong>Duty</strong> – Do what you say you’re going to do. Respect rules and authority. Fulfill your commitments to standard to the best of your ability.</li>
					<li><strong>Respect</strong> – Treat others like you want to be treated.</li>
					<li><strong>Selfless Service </strong>– Volunteer to assist, protect, or defend others.</li>
					<li><strong>Honor</strong> – Act according to your highest moral principles and respect the dignity and honor of others, including those from different races, classes, genders, and those who may have a different sexual orientation than you.</li>
					<li><strong>Integrity </strong>– Do the right thing – even when no one is looking!</li>
					<li><strong>Personal Courage</strong> – Stand up for those who may not be able to stand up for themselves
and work to be fair and just. That is at the heart of being a good person and citizen.</li>
				</ul>
				
				<img src="../img/all-characters.svg" style="text-align: center; width: 80%">
			</div>
		</div>
		<div class="row" style="margin-bottom: 2em">
			<div class="col-md-12">		
				<h2>Now let’s contrast these values. What is bullying?</h2>
				<br />
				<p><strong>How do you define bullying?</strong> &nbsp;<input type="text" id="fname" name="fname" class="norm-input"></p>
				
				<p>Most school districts have their own definitions of bullying but one popular definition says, “Bullying is unwanted harmful behavior that involves an imbalance of power and happens over and over again.” Bullying behavior is a relationship problem which affects those directly involved as well as bystanders, families, and the larger community. Note: the repeat behavior is by the person who bullies. On Monday the target might be one person, on Tuesday another, and on Wednesday another, etc.</p>
			</div>
		</div>
		<div class="row" style="margin-bottom: 2em">
			<div class="col-md-12">
				<h2>Bullying can be:</h2>
			</div>
			<div class="col-md-8">
				<ul class="question-list">
					<li>Saying or writing hurtful things (name calling, threats, teasing, inappropriate comments).</li>
					<li>Physical attacks.</li>
					<li>Excluding or social isolation, shaming, humiliation.</li>
					<li>When one person or a group of people picks on another person or group of people over and over.</li>
					<li>A behavior that can be connected to sexual harassment or discrimination.</li>
					<li>Called something else, like hazing.</li>
					<li>Cyberbullying, which is using technology to do harm
				(Examples include hateful, threatening or humiliating texts or posts, sharing photos that can hurt reputations, excluding others from joining in an online game.)</li>
				</ul>
			</div>
			<div class="col-md-4">
				<img src="../img/phone1.svg" width="100%" />
			</div>
		</div>
		
		<div class="row" style="margin-bottom: 7em">
			<div class="col-md-12">
				<button class="btn btn-success">Save this page</button> &nbsp; <button class="btn btn-info">Edit this page</button> <a href="/questions/question3" class="btn btn-primary" style="float: right;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
  <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg> Next</a>
			</div>
		</div>
	

            