
		<div class="row">
			<div class="col-md-12">
				<p class="page-header">Let’s examine some character attributes.</p>
			</div>
		</div>
		<div class="row" style="margin-bottom: 7em">
			<div class="col-md-12">
				<h2>Select one of the values below and describe how you believe you live it.</h2>
				<ul class="question-list">
					<li>Loyalty<input type="text" id="fname" name="fname" style="width: 100%;" class="list-input"></li>
					<li>Duty<input type="text" id="fname" name="fname" style="width: 100%;" class="list-input"></li>
					<li>Respect<input type="text" id="fname" name="fname" style="width: 100%;" class="list-input"></li>
					<li>Selfless Service <input type="text" id="fname" name="fname" style="width: 100%;" class="list-input"></li>
					<li>Honor <input type="text" id="fname" name="fname" style="width: 100%;" class="list-input"></li>
					<li>Integrity<input type="text" id="fname" name="fname" style="width: 100%;" class="list-input"></li>
					<li>Personal Courage<input type="text" id="fname" name="fname" style="width: 100%;" class="list-input"></li>
				</ul>
				<h2>Mark below how important you think it is to treat others in a manner consistent with these seven character traits.</h2>
				<div class="row">
					<div class="col-lg-7" id="arrow" style="height: 120px; margin: 0px 0 24px 0;">
						<input type="range" min="0" max="100" id="fader" step="5" style="vertical-align: center;" oninput="outputUpdate(value)">
					
						<h2 style="text-align: center; height: 120; margin-top: -1%;"><output for="fader" id="volume" style="text-align: center;">50</output>%</h2>
					</div>
				</div>
			
				<h2>Why? <span style="font-weight: 200; font-size: 16px;">(your thoughts)</span> </h2>
				<input type="text" id="fname" name="fname" style="margin-bottom: 12px; width: 100%;" class="list-input">
			
				<h2>Why? <span style="font-weight: 200; font-size: 16px;">(thoughts from class discussion)</span> </h2> 
				<input type="text" id="fname" name="fname" style="margin-bottom: 12px; width: 100%;" class="list-input">
			
				<p>Can you think of a role model you believe demonstrates some of these character traits? </p> 
				<input type="text" id="fname" name="fname" style="margin-bottom: 12px; width: 100%;" class="list-input"></p>
			
				<br />
				<button class="btn btn-large btn-success">Save this page</button> &nbsp; <button class="btn btn-large btn-info">Edit this page</button> <a href="/questions/question2" class="btn btn-large btn-primary" style="float: right;">Page 2</a>
			</div>
		</div> 
	
	
<script>
	function outputUpdate(vol) {
		document.querySelector('#volume').value = vol;
	}
</script>
	
<style>
	input[type=range] {
	  height: 76px;
	  -webkit-appearance: none;
	  margin: 20px 0 0 0;
	  width: 100%;
	  background-color: transparent;
	}
	input[type=range]:focus {
	  outline: none;
	}
	input[type=range]::-webkit-slider-runnable-track {
	  width: 80%;
	  text-align: center;
	  height: 120px;
	  cursor: pointer;
	  box-shadow: 0px 0px 0px #000000;
	  background: transparent;
	  border-radius: 0px;
	  border: none;
	  top: 0;
	}
	input[type=range]::-webkit-slider-thumb {
	  box-shadow: 0px 0px 0px #000000;
	  border: 0px solid #2497E3;
	  height: 74px;
	  width: 7px;
	  border-radius: 7px;
	  background: black;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: 3%;
	}
	
</style>