
		<div class="row">
			<div class="col-md-12">
				<p class="page-header">Is it Bullying or Friendly Teasing?</p>
			</div>
		</div>
		<div class="row" style="margin-bottom: 2em">
			<div class="col-md-8">
				<p><strong>Context makes a difference.</strong> Actions or statements are just part of the story. Intent, personalities, power balance, and frequency are all relevant. For example: consider two friends who are good at math. One wins a math award, and the other friend says, “You’re such a nerd!”</p>
				<ul class="question-list">
					<li>Since there is no power imbalance – they are friends who enjoy math – the one receiving the comment might grin and feel complimented.</li>
					<li>But, if a popular athlete said the exact same thing to the math award winner – it might be perceived as an insult or put down. And, if the athlete sees that it hurts and he encourages his buddies to join in and repeat the comment to the award winner, then that is clearly bullying.</li>
				</ul>
				<p>Generally speaking, <strong>we think of teasing as playful and not intended to harm</strong> whereas <strong>bullying intends harm.</strong></p>
				
				
						<p>This Venn diagram can help show how lines get blurred and teasing can easily progress to bullying.</p>
						<p>So, here’s the deal - you are responsible for your own words and actions. You have an obligation to consider others <strong>before</strong> acting or speaking. After considering it, you can act or not act – but it becomes an intentional decision and you “own” it.</p>
					</div>
					<div class="col-md-4">
						<img src="/img/nerd-diagram.svg" width="100%" style="margin-top: 1em;" />
					</div>
				</div>
				<div class="row" style="margin-bottom: 3em">
					<div class="col-md-4">
						<img src="/img/arrow-charts.svg" width="100%" />
					</div>
					<div class="col-md-8">
						<h2>And even with friends, how far is too far – when does teasing become bullying?</h2>
						<p>If the message you sent was intended as friendly but perceived as hurtful – then you need to think through your actions and words more carefully. When in doubt, choose kindness.</p>
						
						<h2>Think about a time when you witnessed bullying or other forms of cruelty.</h2>
						<p>Write down the month and year. Month <input type="text" id="fname" name="fname" class="short-input"> Year <input type="text" id="fname" name="fname" class="short-input"> .</p>
						<p>Capture in your mind what happened, what you did, how others reacted, and how you felt.</p>
					</div>
				</div>
				<div class="row" style="margin-bottom: 7em">
					<div class="col-md-12">
			
				<button class="btn btn-large btn-success">Save this page</button> &nbsp; <button class="btn btn-large btn-info">Edit this page</button> <a href="/questions/question4" class="btn btn-large btn-primary" style="float: right;">Page 4</a>
			</div>
		</div> 
	
	
