		<div class="row">
			<div class="col-md-12">
				<h1 class="page-header">In some schools bullying is viewed as socially unacceptable.</h1>
			</div>

			<div class="col-md-12">
				<h2><em>Created by the Bullying Prevention Initiative at the Harvard Graduate School of Education</em></h2>
				
				<p>Students sometimes feel like they don’t have much say in what happens at school. You may wonder how you can make your school a more caring and safe place. One way is by talking with adults at school about what they are doing to develop students’ sense of responsibility for others and to make sure students feel safe, respected, and able to learn.</p>
				<p>These questions can encourage principals and teachers to think about what they’re doing now – and also what they can do differently – to ensure students feel safe and to build students’ capacity for caring and respect. The adults in your school might not have answers to these questions right away, but by asking the questions, you can show them what matters to you. You can also suggest that students and adults together pick a few questions or issues that are most important for your school community and meet on a regular basis to work on them.</p>
				<p>Consider asking the following questions of your principal, assistant principal, school counselor, or other school staff, or share them with student representatives who meet with these leaders regularly.</p>
				
				
				<ol>
					<li><strong>Does our school regularly survey students about whether we feel safe,respected,and cared about? Are the answers shared with students and parents?</strong>
					</li>
					<li><strong>Is there a confidential way for students to report it when they feel unsafe or mistreated?</strong>
						<ul>
							<li>Are students provided this contact information?</li>
						</ul>
					</li>
					<li><strong>Is there an adult in our school whose job it is to make sure that everyone feels safe and respected and that people treat each other well?</strong>
						<ul>
							<li>Who is that person?</li>
						</ul>
					</li>
					<li><strong>Does our school use a program that teaches social and emotional skills like conflict resolution, showing understanding and empathy for others, and being aware of our emotions?</strong>
						<ul>
							<li>How do we know that the program works?</li>
							<li>Are there any studies that show the program works?</li>
						</ul>
					</li>
					<li><strong>How do teachers and other staff know what they are supposed to do when they see bullying or other hurtful behavior?</strong>
						<ul>
							<li>Are they trained in how to stop bullying or other hurtful behavior when it happens? </li>
							<li>Are they trained in how to keep it from happening in the first place?</li>
						</ul>
					</li>
					<li><strong>How does our school work with students who act in aggressive or hurtful ways?</strong>
						<ul>
							<li>Besides punishment, how do adults help those students stop acting that way?</li>
						</ul>
					</li>
					<li><strong>Are there adults in charge in bathrooms, hallways, and other areas outside classrooms?</strong>
						<ul>
							<li>Who are they?</li>
						</ul>
					</li>
					<li><strong>How can students be involved in making decisions about some of the things that happen in our school? (Examples: school values, community events, non-academic programming)</strong></li>
					<li><strong>Does our school have a school counselor, school psychologist, or school social worker?</strong></li>
					<li><strong>Does our school have a policy that clearly states that discrimination and harassment are not tolerated for any reason?</strong>
						<ul>
							<li>Does it cover race, class, religion, gender, and sexual orientation?</li>
							<li>How and where is this policy presented to students and staff?</li>
						</li>
					</li>
				</ol>
				
				<p>More resources and ideas may be found at <a href="https://www.project-hear.us/resources" target="blank">project-hear.us/resources</a>.</p>
				
				<h2 style="text-align: center">We all have choices. By choosing to live with the values we discussed, we can build respect and help prevent bullying.</h2>
				
				<h2 style="text-align: center; font-size: 1.9em; margin: 1em 0;"><span style="color: #bc252b;">Remember:</span> Safety first – protect yourself and then others!</h2>

				<p style="text-align: center;"><img src="/img/vgroup.png"></p>

			</div>		
		<div>
		<div class="row" style="margin-bottom: 7em;">
			<div class="col-md-12">
				<br />
				<button class="btn btn-large btn-success">Save this page</button> &nbsp; <button class="btn btn-large btn-info">Edit this page</button> <a href="/questions/question11" class="btn btn-large btn-primary" style="float: right;">Page 11</a>
			</div>
		</div> 
	
